@font-face {
  font-family: "Dovemayo_wild";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/Dovemayo_wild.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  padding: 0;
}
body {
  width: 100vh;
  height: 100vh;
  font-family: "Dovemayo_wild";
  display: flex;
  flex-direction: column;
  margin: 0;
}
#app {
  padding: 5%;
}
video {
  position: absolute;
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
canvas {
  position: absolute;
  z-index: 1;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
nav {
  padding-block: 5%;
}
nav > a {
  color: black;
  text-decoration: none;
  padding: 10px;
  position: relative;
}
nav > a:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 33%;
  right: 0;
  width: 1px;
  height: 33%;
  background-color: #000; /* Sets the color of the divider */
}
nav > a:focus {
  color: blue;
}

form {
  display: flex;
  flex-direction: column;
  padding-block: 5%;
}
input[type="text"] {
  max-width: 200px;
  padding-inline: 2%;
  margin-block: 2%;
  border-radius: 5px;
  border: 1px solid black;
}
input[type="password"] {
  max-width: 200px;
  padding-inline: 2%;
  margin-block: 2%;
  border-radius: 5px;
  border: 1px solid black;
}

button {
  padding: 1%;
}
